@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Lora&family=Rokkitt&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Rokkitt', serif;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    align-items: center;
    padding: 10PX;
    justify-content: space-around;
    z-index: 1;
}
header .menu ul{
    display: flex;
    list-style: none;
}
header .menu ul li a{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    /* color: #FFCC00; */
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header .menu ul li a:hover {
    color: #FFCC00;
    border-bottom: 2px solid #FFCC00;
}

/* menu-dropdown */
header .menu ul .dropdown {
    position: relative;
}
header .menu ul .dropdown:hover .dropdown-menu {
    display: block;
}
header .menu ul .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
header .menu ul .dropdown-menu li {
    display: block;
    border-bottom: 0.2px solid #ddd;
    width: 200px;
    height: 40px;
    padding: 6px;
    line-height: 30px;
}
header .menu ul .dropdown-menu li:hover{
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s ease-in-out;
    color: #FFCC00;
}
header .menu ul  .dropdown-menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
header .menu ul .dropdown-menu li a:hover{
    color: #FFCC00;
    border-bottom: none ;
}
/* menu-dropdown */
header .logo-header img{
    width: 80px;
}
header .menu-icon{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
header .menu-icon li a{
    /* color: #FFCC00; */
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
header .menu-icon li a .qty-cart{
    background-color:#ED1C24;
    width:15px;
    height: 15px;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    bottom: 10px;
    line-height: 15px;
}
header .menu-icon li a:hover{
    color: #FFCC00;
}


footer{
    margin-top: 50px;
    background-color: #000000;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}
.about-page {
    width: 33%;
}
.about-page img{
    width: 200px;
    height: 200px;
}
.about-page .content h4{
    color:#ffffff ;
    word-wrap: break-word;
    font-weight: 500;
}
.footer-content{
    display: flex;
    gap: 30px;
}
.policy{
    color: #ffffff;
}
.policy p{
    margin-top: 10px;
}
.follow a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    margin-top: 10px;
}


main{   
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    /* margin-top: 100px; */
    background: linear-gradient(to bottom,  #7f3b4b, #f5959b);
    position: relative;
}
.conatiner-register{
    display: flex;
    width: 600px;
    box-shadow: gray 0px 0px 14px;
    border-radius: 10px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.conatiner-register .box-left{
    color: #FFCC00;
    width: 50%;
    background-image: url(../img/banner/banner-dk.jpg);
    border-radius:  10px 0px 0px 10px;
    display: flex;
    justify-content: center;
}
.box-right{
    display: flex;
    justify-content: center;
    width: 50%;
}
form{
    padding: 20px;
    display: grid;
    gap:3px;
    width: 100%;
    background-color: #ffffff;
    height: 100%;
    border-radius:  0px 10px 10px 0px;
}
form h1{
    text-align: center;
    padding: 20px;
    /* font-weight: 500; */
    text-shadow: gray 0px 4px 4px;
}
form .box-input{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #939393;
}
form .box-input input{
    border: none;
    outline: none;
    font-family: 'Rokkitt', serif;
    font-weight: 600;
    color: #000000;
    width: 220px;
    font-size: 16px;

}
form .box-input i{
    font-size: 20px;
    color: #4a4a4a;
}
form .btn-login{
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    font-weight: 500;
    color: #FFCC00;
    border-radius: 5px;
    background-color: #000000;
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    height: 40px;
    box-shadow: gray 0px 0px 12px;
}
form .btn-login:hover{
    background-color: #FFCC00;
    color: #ffffff;

}
.error-message {
    font-weight: 600;
    font-size: 14px;
    color: red;
}