<section class="box-cart">
    <!-- <div class="blur-background"></div> -->
    <div id="close-cart" class="close"><i  class="fa-solid fa-xmark"></i></div>
    <h2 style="text-align: center; margin-top: 10px;">Giỏ hàng</h2>
    <div class="cart-icon"></div>
    <div class="box-sp-cart">
        
    </div>
    <div class="tongtien">
         
    </div>
   <div class="box-btn">
        <a href="/cart"><button class="btn-xemcart">Xem giỏ hàng</button></a>
   </div>
</section>