<footer>
    <div class="about-page">
        <img src="/img/logo/logo.svg"  alt="">
        <div class="content">
            <h4>RUBY tự hào là đại lý chính hãng của các thương hiệu đồng hồ nổi tiếng như 
                Hublot,Casio, Longines, Seiko, SR, Omega, Orient... tại Việt Nam.
            </h4>
        </div>
    </div>
    <div class="footer-content">
       <div class="policy">
            <h3>Chính sách</h3>
            <p href="">Điều khoản dịch vụ</p>
            <p href="">Chính sách giao hàng</p>
            <p href="">Chính sách đổi trả hàng</p>
            <p href="">Chính sách bảo hành</p>
            <p href="">Chính sách bảo mật</p>
       </div>
       <div class="policy">
            <h3>Hướng dẫn</h3>
            <p href="">Hướng dẫn thanh toán</p>
            <p href="">Hướng dẫn mua online</p>
            <p href="">Hướng dẫn mua trả góp</p>
        </div>
    </div>
    <div class="follow">
        <a href=""><i class="fa-solid fa-location-dot"></i><p>123 Tan Hung Thuan, Quan 12, TP.HCM, Viet Nam</p></a>
        <a href=""><i class="fa-brands fa-facebook"></i><p>RubyWatch</p></a>
        <a href=""><i class="fa-brands fa-instagram"></i><p>rubywacth</p></a>
        <a href=""><i class="fa-solid fa-envelope"></i><p>rubywacth2023@gmail.com</p></a>
        <a href=""><i class="fa-solid fa-phone"></i></i><p></p>099999999</a>
    </div>
</footer>