<div class="left-container">
    <div class="blur-container"></div>
    <div class="logo-web">
        <img src="/img/logo/logo.svg" width="100px" alt="">
    </div>
    <div class="list-menu">
        <ul>
            <li>
                <a href="/admin/dashboard"><i class="fa-solid fa-house"></i><p>Dashboard</p></a>
            </li>
            <li>
                <a href="/admin/product"><i class="fa-solid fa-box-archive"></i><p>Products</p></a>
            </li>
            <li>
                <a href="/admin/categories"><i class="fa-solid fa-layer-group"></i><p>Categories</p></a>
            </li>
            <li>
                <a href="/admin/order"><i class="fa-solid fa-file-invoice"></i><p>Orders</p></a>
            </li>
            <li>
                <a href="/admin/user"><i class="fa-solid fa-users"></i><p>Users</p></a>
            </li>
        </ul>
    </div>
</div>