<%-include('header.ejs')%>
<title>Register</title>
<link rel="shortcut icon" href="/img/logo/favicon.svg" type="image/x-icon">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/box-cart.css">
    <main>
        <%-include('box-cart.ejs')%>
        <div class="conatiner-register">
            <div class="box-left">
                <!-- <img src="/img/logo/logo.svg" alt=""> -->
            </div>
            <div class="box right">
                <form action="/postRegister" method="post" id="formRegister">
                    <h1>ĐĂNG KÍ</h1>
                    <div  class="box-input">
                        <input name="username"  id="username" type="text" placeholder="Tên đăng nhập">
                        <i class="fa-regular fa-circle-user"></i>
                    </div>
                    <p class="error-message" id="error-message-username"></p>
                    <div class="box-input">
                        <input name="emailAccount" id="email" type="email" placeholder="Email">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <p class="error-message" id="error-message-email"></p>
                    <div  class="box-input">
                        <input name="passwordAccount" id="pass" type="password" placeholder="Mật khẩu">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <p class="error-message"  id="error-message-pass"></p>
                    <button id="login" class="btn-login">Đăng kí</button>
                   <a href="/login"><h4 style="color: black;font-weight: 500; text-align: center;">Bạn đã có tài khoản?</h4></a>
                </form>
            </div>
        </div>  
    </main>
</body>
<script src="/js/login-register.js"></script>
<script src="/js/addcart.js"></script>
</html>